.filvelger {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  border: 2px dashed var(--a-border-strong);
  border-radius: 4px;
  background-color: var(--a-gray-200);
  height: 4rem;
  line-height: 4rem;
  color: var(--a-blue-700);
  cursor: pointer;
  align-content: center;
}

.ikon {
  display: inline-block;
  margin-right: 0.5rem;
}

.tekst {
  display: inline-block;
}
