.bakgrunn {
  background-color: var(--a-bg-subtle);
  padding-top: 5rem;
  padding-bottom: 8rem;

  @media (max-width: 480px) {
    padding: 0;
  }
}

.container {
  width: 792px;
  margin: auto;
  background-color: var(--a-bg-default);
  padding: 2rem 4rem;
  border-radius: 4px;

  @media (max-width: 480px) {
    padding: 2rem 1rem;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
