name: Build, push, and deploy app to dev

on: [workflow_dispatch]
env:
  IMAGE: ghcr.io/navikt/familie-ef-ettersending:${{ github.sha }}
  BASE_PATH: /familie/alene-med-barn/ettersending/

jobs: 
  test:
    name: Teste variabel
    runs-on: ubuntu-latest
    stpes:
      - uses: actions/checkout@v2
      - name: Teste variabel
        run: echo "base path er &{{env.BASE_PATH}}"
  build:
    name: Build and push Docker container
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build and pubilsh Docker image
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        run: |
          docker build -t ${IMAGE} . --build-arg base_path=${{env.BASE_PATH}}
          echo ${GITHUB_TOKEN} | docker login ghcr.io --username ${GITHUB_REPOSITORY} --password-stdin
          docker push ${IMAGE}
  deoploy:
    name: Deploy to NAIS
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }} 
          CLUSTER: dev-gcp
          RESOURCE: build_n_deploy/naiserator/nais.yaml
          VARS: build_n_deploy/naiserator/dev.json


